{% extends '_layouts/base_with_menu.html' %}

{% block content %}
<div class="container">
    {% csrf_token %}
    <div class="row">
        <h1 class="header">{{ course.key }} - {{ task.name }}</h1>
    </div>
    <div class="divider"></div>
    <br>
    {% if task.image %}
    <div id="image" class="row">
        <img class="responsive-img" style="width: 400px;" src="{{ task.image.url }}"/>
    </div>
    {% endif %}
    <br>
    <div class="row">
        <h4>Descripción</h4>
    </div>
    <div class="divider"></div>
    <div class="row flow-text">
        <p>{{ task.description|urlize|linebreaks }}</p>
    </div>
    {% if task.youtube %}
    <br>
    <div class="row">
        <h4>Video adjunto</h4>
    </div>
    <div class="divider"></div>
    <br>
    <div class="video-container">
        <iframe width="853" height="480" src="{{ task.embed_youtube }}" frameborder="0" allowfullscreen></iframe>
    </div>
    <br>
    {% endif %}
    {% if task.pdf %}
    <br>
    <div class="row">
        <h4>PDF adjunto</h4>
    </div>
    <div class="divider"></div>
    <br>
    <div class="row">
        <div class="video-container">
            <iframe width="853" height="480" src="{{ task.pdf.url }}" frameborder="0" allowfullscreen></iframe>
        </div>
    </div>
    {% endif %}
    {% if task.file %}
    <br>
    <div class="row">
        <h4>Archivo adjunto</h4>
    </div>
    <div class="divider"></div>
    <br>
    <div id="file" class="row">
        <div class="col s12 m6">
            <div class="card orange lighten-5">
                <div class="card-content">
                    <span class="card-title"><i class="medium material-icons">description</i> {{task.file.name}}</span>
                    <p>Esta publicación contiene un archivo adjunto.</p>
                </div>
                <div class="card-action">
                    <a href="{{ task.file.url }}" target="_blank">Descargar</a>
                </div>
            </div>
        </div>
    </div>
    {% endif %}
</div>
{% endblock %}