{% extends '_layouts/base_with_menu.html' %}

{% block content %}
<div class="container">
    {% csrf_token %}
    <div class="row">
        <h1 class="header">{{ course.key }} - {{ task.name }}</h1>
    </div>
    <div class="divider"></div>
    <div class="row">
        <h4>Vista previa</h4>
    </div>
    {% if task.image %}
    <div id="image" class="row">
        <img class="responsive-img" style="width: 400px;" src="{{ task.image.url }}"/>
    </div>
    {% endif %}
    <div class="row flow-text">
        <p>{{ task.description|urlize|linebreaks }}</p>
    </div>
    {% if task.youtube %}
    <div class="video-container">
        <iframe width="853" height="480" src="{{ task.embed_youtube }}" frameborder="0" allowfullscreen></iframe>
    </div>
    <br>
    {% endif %}
    {% if task.pdf %}
    <div class="row">
        <div class="video-container">
            <iframe width="853" height="480" src="{{ task.pdf.url }}" frameborder="0" allowfullscreen></iframe>
        </div>
    </div>
    {% endif %}
    {% if task.file %}
    <div id="file" class="row">
        <div class="col s12 m6">
            <div class="card orange lighten-5">
                <div class="card-content">
                    <span class="card-title"><i class="medium material-icons">description</i> {{task.file.name}}</span>
                    <p>Esta publicación contiene un archivo adjunto.</p>
                </div>
                <div class="card-action">
                    <a href="{{ task.file.url }}" target="_blank">Descargar</a>
                </div>
            </div>
        </div>
    </div>
    {% endif %}

    <div class="divider"></div>
    <div class="row">
        <h4>Respuestas y calificaciones</h4>
    </div>
    <div class="row">
    {% if task.need_response %}
        <table class="highlight">
            <thead>
                <tr>
                    <th>Matrícula</th>
                    <th>Nombre</th>
                    <th>Apellido</th>
                    <th>Calificación</th>
                    <th>Respuesta</th>
                </tr>
            </thead>
            <tbody>
                {% for response in responses %}
                <tr>
                    <td>{{ response.student.school_id }}</td>
                    <td>{{ response.student.name }}</td>
                    <td>{{ response.student.last_name }}</td>
                    <td><input type="number" value={{ response.score }} style="width:50px"></td>
                    <td><a class="modal-trigger" href="#" onclick="open_response_modal({{ forloop.counter0 }})">Ver respuesta</a></td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    {% else %}
        <table class="highlight">
            <thead>
                <tr>
                    <th>Matrícula</th>
                    <th>Nombre</th>
                    <th>Apellido</th>
                    <th>Calificación</th>
                </tr>
            </thead>
            <tbody>
                {% for response in responses %}
                <tr>
                    <td>{{ response.student.school_id }}</td>
                    <td>{{ response.student.name }}</td>
                    <td>{{ response.student.last_name }}</td>
                    <td><input type="number" value={{ response.score }} style="width:50px"></td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    {% endif %}
    </div>
    <div class="row" style="float:right">
        <button class="btn waves-effect waves-light" type="submit" name="action" onclick="save_changes()">Guardar cambios
            <i class="material-icons right">send</i>
        </button>
    </div>
    <br><br><br>
</div>

<div id="response-modal" class="modal">
    <div class="modal-content">
        <h4>Respuesta enviada</h4>
        <p id="response-text">A bunch of text.</p>
        <div id="response-file"></div>
    </div>
    <div class="modal-footer">
        <a href="#!" class=" modal-action modal-close waves-effect waves-green btn-flat">Cerrar</a>
    </div>
</div>

{% endblock %}

{% block scripts %}
{% if task.need_response %}
<script type="text/javascript">
    var responses = [];
    {% for response in responses %}
        var data = {
            'text': `{{ response.response }}`,
            'file': '{% if response.file %}{{ response.file.url }}{% endif %}'
        };
        responses.push(data);
    {% endfor %}

    function open_response_modal(index) {
        var response = responses[index];
        if (!(response.text || response.file)) {
            $('#response-text').html(`
                <blockquote>No ha sido enviado.</blockquote>
            `);
        } else {
            $('#response-text').html(response.text);
        }
        if (response.file) {
            $('#response-file').html(`
                <a href="${response.file}">Archivo adjunto</a>
            `);
        }
        $('#response-modal').openModal();
    };
</script>
{% endif %}
<script type="text/javascript">

    function getCookie(name) {
        var cookieValue = null;
        if (document.cookie && document.cookie !== '') {
            var cookies = document.cookie.split(';');
            for (var i = 0; i < cookies.length; i++) {
                var cookie = jQuery.trim(cookies[i]);
                // Does this cookie string begin with the name we want?
                if (cookie.substring(0, name.length + 1) === (name + '=')) {
                    cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                    break;
                }
            }
        }
        return cookieValue;
    }

    var csrftoken = getCookie('csrftoken');

    function save_changes() {
        var data = {"csrfmiddlewaretoken": csrftoken};
        var inputs = $('input[type=number]');
        data['inputs'] = $.map(inputs, function(obj) {return $(obj).val()})
        $.post("{% url 'task.responses' task.id %}", data)
            .done(function() {
                Materialize.toast('¡Todos los cambios guardados!', 4000)
            })
            .fail(function(xhr, status, error) {
                Materialize.toast(error, 4000)
            });
    };
</script>
{% endblock %}