{% for student in sons %}
<div class="row">
    <div class="col s12">
        <h4>Resumen de su hijo {{ student.name }} {{ student.last_name }}</h4>
        <br>
        <table class="striped">
            <tbody>
                <tr>
                    <td><strong>Matrícula</strong></td>
                    <td>{{ student.school_id }}</td>
                </tr>
                <tr>
                    <td><strong>Grado</strong></td>
                    <td>{{ student.grade }}</td>
                </tr>
                <tr>
                    <td><strong>Promedio académico</strong></td>
                    <td>%</td>
                </tr>
                <tr>
                    <td><strong>Porcentaje de tareas entregadas</strong></td>
                    <td>%</td>
                </tr>
                <tr>
                    <td><strong>Asistencia</strong></td>
                    <td>%</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
<div class="row">
    <div class="col s6" style="text-align:center;">
        <a href="{% url 'posts:list.grade' student.grade.id %}">Ver noticias de {{ student.grade }} grado.</a>
    </div>
    <div class="col s6" style="text-align:center;">
        <a href="{% url 'stream' student.grade.id %}">Ver stream de {{ student.grade }} grado.</a>
    </div>
</div>
<div class="row">
    <div class="col s12">
        <h5>Últimas tareas asignadas</h5>
        <table class="striped">
            <thead>
                <th>Tarea</th>
                <th>Curso</th>
                <th>Descripción</th>
                <th>Fecha de entrega</th>
            </thead>
            <tbody>
                {% for task in student.get_10_tasks %}
                <tr>
                    <td><a href="{% url 'tasks.details' task.id %}">{{ task.name }}</a></td>
                    <td>{{ task.course }}</td>
                    <td>{{ task.description|truncatechars:50 }}</td>
                    <td>{{ task.due_date }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
<br>
<div class="divider"></div>
<br>
{% endfor %}