<h4>Mis cursos</h4>

{% if not courses %}

<blockquote>No tienes registrado ningún curso. Es necesario que un administrador haga esta acción.</blockquote>

{% else %}

<p>Haz click en un curso para agregar tareas o tomar asistencia.</p>

<div class="row">
    <table class="highlight">
        <thead>
            <tr>
                <th>Clave</th>
                <th>Nombre</th>
                <th>Grado</th>
            </tr>
        </thead>
        <tbody>
            {% for course in courses %}
            <tr>
                <td><a href="{% url 'dashboards.course' course.key %}">{{ course.key }}</a></td>
                <td>{{ course.name }}</td>
                <td>{{ course.grade }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

{% endif %}